.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.HangWindow {
    width: 500px;
    border: 1px solid black;
}

.HangGuess {
    display: inline;
position:absolute;
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

.HangGuy {
position:absolute;
    border: 1px solid black;
    max-height: 300px;
    min-height: 300px;
    min-width: 250px;
    width: 300px;
    left: 500px;
}

.HangHead {
    display: inline;
position:absolute;
    border: 1px solid black;
    background-color: green;
    min-height: 50px;
    min-width: 50px;
    left: 125px;
    top: 30px;
}

.HangTorso {
    display: inline;
position:absolute;
    border: 1px solid black;
    background-color: green;
    min-height: 75px;
    min-width: 50px;
    left: 125px;
    top: 100px;
}

.HangArmL {
position:absolute;
    display: inline;
position:absolute;
    border: 1px solid black;
    background-color: green;
    min-height: 75px;
    min-width: 25px;
    left: 75px;
    top: 100px;
    transform: rotate(45deg);
}

.HangArmR {
position:absolute;
    display: inline;
position:absolute;
    border: 1px solid black;
    background-color: green;
    min-height: 75px;
    min-width: 25px;
    left: 200px;
    top: 100px;
    transform: rotate(-45deg);
}

.HangLegL {
position:absolute;
    display: inline;
position:absolute;
    border: 1px solid black;
    background-color: green;
    min-height: 75px;
    min-width: 25px;
    left: 100px;
    top: 175px;
    transform: rotate(30deg);
}

.HangLegR {
position:absolute;
    display: inline;
position:absolute;
    border: 1px solid black;
    background-color: green;
    min-height: 75px;
    min-width: 25px;
    left: 175px;
    top: 175px;
    transform: rotate(-30deg);
}

.App-header {
    background-background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: white;
}

.App-link {
    background-color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.WordSquare {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    display: block;
    margin: 5px;
    float: right;
position:absolute;
    margin-left: auto;
    margin-right: auto;
}

.GameWord {
position:absolute;
    padding: 15px;
    height: 250px;
    width: 450px;
    border: 1px solid black;
    padding: auto;
}

.GuessBox {
    width:250px;
    height:250px;
    border: 1px solid black;

}

.HangStart {
    max-height: 805px;
    max-width: 1086px;
    min-height: 805px;
    min-width: 1086px;
position:absolute;
    display:inline;
    background-color:green;
    border: 1px solid black;
    z-index: 500;

}