.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.HangWindow {
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
    border: 1px solid black;
}

.HangGuess {
    display: inline;
    border: 1px solid black;
    color: green;
    min-width:50px;
    max-width:50px;
    min-height:50px;
    max-height:50px;
}

.HangGuy {
    
    border: 1px solid black;
    color: green;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
}

.HangArmL {
  position:absolute;
    display: inline;
    border: 1px solid black;
    color: green;
    min-height: 75px;
    max-height: 75px;
    min-width: 50px;
    max-width: 50px;

    left:50px;
}

.HangArmR {
    display: inline;
    border: 1px solid black;
    color: green;
    min-height: 75px;
    max-height: 75px;
    min-width: 50px;
    max-width: 50px;

}

.HangLegL {
    display: inline;
    border: 1px solid black;
    color: green;
    min-height: 75px;
    max-height: 75px;
    min-width: 50px;
    max-width: 50px;
}

.HangLegR {
    display: inline;
    border: 1px solid black;
    color: green;
    min-height: 75px;
    max-height: 75px;
    min-width: 50px;
    max-width: 50px;
}

.HangTorso {
    display: inline;
    border: 1px solid black;
    color: green;
    min-height: 75px;
    max-height: 75px;
    min-width: 50px;
    max-width: 50px;
}

.HangHead {
    display: inline;
    border: 1px solid black;
    color: green;
    min-height: 75px;
    max-height: 75px;
    min-width: 50px;
    max-width: 50px;
  }

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}